.head{
    text-align:left;
}
.imgContainer{
    display:flex;
    gap:20px;
    grid-area:img;
}
.AuthorInformation{
    display:flex;
    align-items:flex-start;
    gap:20px;
    text-align:left;
}
.Journey{
    text-align:left;
    max-width:400px;
}
.begin{
    text-align:left;
    max-width:400px;
}
.cap{
    text-align:left;
    grid-area:cap;
}
.tulip{
    grid-area:t;
}
.container{
    display:grid;
    grid-template-areas: 'cap rc rc rc rc rc rc rc rc rc rc rc'
                         'cap img img img img img img img img img img img'
                         'cap t t t t t t t t t t t';
    grid-gap:100px;
}
.rightColumnContainer{
    margin-bottom:50px;
}
@media screen and (max-width:799px){
    .imgContainer{
        flex-direction:column;
        align-items:center;
    }
    .container{ 
        display:flex;
        flex-direction:column;
        gap:20px;
    }
    .AuthorInformation{
        flex-direction:column;
        align-items:center;
    }
}
