.navbar{ 
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:10px;

}
.ul{
    list-style:none;
    display:flex;
    gap:20px;
}
.mobile_navbar{ 
    display:flex; 
    justify-content:space-between; 
    align-items:center; 
}
.mobile_ul{ 
    list-style:none;
    text-align:start; 
    padding-left:0px; 
}
.mobile_ul li{ 
    margin-bottom:20px; 
}

@media screen and (max-width: 799px) {
    .navbar{ 
        display:none; 
    }
} 
@media screen and (min-width:800px) {
    .mobile_navbar{ 
        display:none; 
    }
    .mobile_ul{ 
        display:none;
    }
} 
